@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500&display=swap');

*{
    margin:0px;
    padding:0px;
}


html,body{
    /* background-color: #000; */
    font-family: 'Cinzel', serif;
    /* color: #62bbff; */
    margin-bottom: 10px;
}
.first_container{
    /* height: 600px; */
    /* background-color: beige; */
    position: relative;
}
#header{
    left: 2.4%;
    /* top: -20px; */
    width: 94.8%;
    top: 3%;
    position: fixed;
    height: 7%;
    padding: 3px;
    margin-top: -1%;
    border-radius: 30px;
    background-color: #c48958;
    z-index: 10;
    transition: all ease-in 1s;
}
#logo{
    width:40px;
    top: 200px;
    margin-top: -8px;
    /* border: solid 2px black; */
}
#header nav{
    display: flex;
    padding: 2px;
    margin-top: 1%;
    justify-content: space-around;
    width: auto;
    /* border-radius: 40px; */
    text-decoration: none;
}
#sign{
    border-radius: 15px;
    width: 7vmax;
    margin-top: -1%;
    margin-right: -60px;
    background-color: #c48958;
    box-shadow: 1px 2px 5px #000;
    border:none;
    color: #fff;
    padding: 10px 20px;

    /* margin: 7px; */
}
#header a{
    /* margin-top: 18px; */
    text-decoration: none;
    color:#fff
}
#header a:hover{
    scale:1.2;
    color:#000;
}

#sign:hover{
    scale:.9;
    color:#000;

}
.background-video-container {
    
    position:relative;
    width: 100%;
    height: 100vh;
    margin-top: 20px;
    overflow:hidden;
}

#background-video {
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height:100%;
    z-index: -1;
}
.inner_div {
    text-align: center;
    color: #fff; /* Adjust the text color as needed */
    padding: 100px;
    border-radius: 10px;
    padding: 20px 20px;
}

.f_container_button,#readmore ,.background-video-container header button{
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #c48958; /* Adjust the button background color */
    color: #fff; /* Adjust the button text color */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: ease all;
    animation-delay: .1;
}
.f_container_button:hover,#readmore:hover{
    scale:1.1;
    background-color: #8b582f;
}
.inner_div span,.inner_div2 span{
    /* border: solid black 2px; */
    width: 50%;
    display: flex;
    text-shadow: 2px 4px 2px #000;
    justify-content: center;
    margin:1rem;
    margin-left: 28%;
    font-size: 3rem;
    margin-top: 5%;
    font-weight: 540;
    margin-bottom: 20px;
}
#describe{
    font-size: medium;
    margin-top: 10px;
}
#readmore{
    margin-right: -38%;
}
#Second_container{
    margin:.1px 31px;
    margin-top: -40px;
}
#Second_container .inner_div2{
    display: flex;
    background-image: url(./assets/FirstDivimg.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    padding:20px 20px;
    border:  none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 500px;
    /* background-color: #ff0000; */
}
#Second_container .inner_div2 :first-child,.inner_div2 pre{
    margin-left: 45%;
    margin-bottom: -2px;
    /* border:  solid black 2px; */

}
#Second_container .inner_div2 :nth-child(3){
    /* color: red; */
    /* border: solid black 2px; */
    margin-left: 48%;
    width: 40%;
}
#readmore{
    margin-left: -24%;
}
#third_container {
    margin:.1px 31px;
    height: 700px;
    margin-top: 20px;
    /* width: 95.5%; */
    border-radius: 10px;
    padding:20px 20px;
    border: none;
    background-color: #c48958;
}
#third_container h1{
    margin-left:45%;
    margin-top: 2px;
    /* border: solid black 2px; */
}
.menuCard{
    display: flex;
    margin-top: 50px;

    justify-content: space-evenly;
    
}
.item_card{
    width: 300px;
    height: 250px;
    display: flex;
    border: none;
    box-shadow: 4px 4px 10px #fff;
    border-radius: 32px;
    flex-direction: column;
    margin-top: 10px;
    transition: ease-in-out all .1s;
    background-color:blanchedalmond;
    /* background-color: #96ab97; */
    /* border:  solid 2px black; */
}
.item_card span{
    margin: 12px 10px;
    font-size: 20px;
}
.item_card img{
    margin-top: 12px;
    margin-left: 26%;
    width: 8rem;
    height: 8rem;
}
.inner_div2 span,.inner_div2 pre{
    text-shadow: 1px 1px 1px #fff, 1px 1px 3px #000000;

}
.item_card:hover{
    scale:1.1;
    border:solid 2px black;
    box-shadow: 1px 2px 2px #000 unset;
}

footer{
    display: flex;
    justify-content: center;
    background-color: #222;
    margin:1px 31px;
    /* height: 300px; */
    margin-top: 20px;
    border-radius: 10px;
    padding: 20px 20px;
    /* border: solid black 2px; */
    background-color: blanchedalmond;    
}
footer div a img{
    width: 20px;
    margin-left: 10px;
    margin-top: 23px;
}

footer div{
    display: flex;
    margin: 20px 20px;
}
@media only screen and (max-width: 600px) {
    body {
      font-size: 14px;
      color: blue;
    }
  }